.inputContainer{
    display: flex;
    flex-direction: column;
}

.inputContainer input{
    margin-left: 10px;
    border-radius: 6px;
    font-size: 18px;
}

.inputContainer label{
    font-family: var(--FONTS_LIGHT);
    font-size: 15px;
}