.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--COLOR_BUTTON);
    
    border-radius: 8px;
    padding: 10px;
}

.buttonContainer label{
    font-family: var(--FONT_BOLD);
    font-size: 15px;
    
    background: var(--COLOR_BUTTON);
    color: var(--COLOR_TEXT_SECONDARY);
    
    align-self: center;
}