.orderserviceContainer{
	display: flex;
	flex-direction: column;
	
	margin-top: 5px;
	padding: 30px;
	width: 60vw;
	
	border-radius: 8px;
	background: var(--COLOR_SECONDARY_BACKGROUND);
	border-style: solid;
}
.orderserviceContainer #orderInfo{
	display: flex;
	flex-direction: column;
}

.orderserviceContainer #orderinfoclient{
	display: flex;
	flex-direction: row;
	
	font-family: var(--FONTS_REGULAR);
}

.orderserviceContainer #orderinfoservice{
	display: flex;
	flex-direction: column;
	
	font-family: var(--FONTS_LIGHT);
	font-size: 18px;
}
.orderContent{
	display: flex;
	flex-direction: column;
	
	margin-top: 5px;
	
	border-radius: 8px;
	background: var(--COLOR_SECONDARY_BACKGROUND);
	border-style: solid;
}
.orderCheckList{
	display: grid;
	flex-direction: row;
	
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	padding: 30px;

	font-family: var(--FONTS_LIGHT);
	font-size: 18px;
	border-radius: 8px;
	background: var(--COLOR_SECONDARY_BACKGROUND);
	border-style: solid;
}
.orderCheckList label{
	margin-bottom: 10px;
}

.orderCheckList footer{
	display:flex;
	justify-content: flex-end;
	
}