:root{
	--COLOR_DEFAULT_BACKGROUND: #a8a7ad;
	--COLOR_SIDEBAR_BACKGROUND: #25252c;
	--COLOR_HEADER_BACKGROUND: #1269ccda;
	--COLOR_SECONDARY_BACKGROUND: #e0e4ee;
	--COLOR_TEXT_PRIMARY: #020202;
	--COLOR_TEXT_SECONDARY: #ffffff;
	--COLOR_TEXT_TERTIARY:  #737274;
	--COLOR_TEXT_TERTIARYBOLD: #413f3f;
	--COLOR_PRIMARY: #1269ccda;
	--COLOR_SECONDARY: #043164daa;
	--COLOR_BUTTON: #1269ccda;
	--COLOR_BUTTON_BORDER: #ffffff;
}